.home{
    background: #081b29;
    font-family: 'Poppins', sans-serif;
    color: #ededee;
    
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    font-size: 100%;
    overflow-x: hidden;
}

body{
    
    background: var(--bg-color);
    color: var(--text-color);
}